<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.badgersburrow.fragenrondell">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/app_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="de.badgersburrow.fragenrondell.Activity_Main"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:theme="@style/FullscreenTheme"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="de.badgersburrow.fragenrondell.Activity_CategorySelect"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/category"
            android:screenOrientation="landscape"
            android:theme="@style/FullscreenTheme">
        </activity>

        <activity
            android:name="de.badgersburrow.fragenrondell.Activity_Mode_FreePlay"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/cardview"
            android:screenOrientation="landscape"
            android:theme="@style/FullscreenTheme">
        </activity>

        <activity
            android:name="de.badgersburrow.fragenrondell.Activity_Mode_WheelSelect"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/cardview"
            android:screenOrientation="landscape"
            android:theme="@style/FullscreenTheme">
        </activity>

        <activity
            android:name="de.badgersburrow.fragenrondell.Activity_Shop"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/shop"
            android:screenOrientation="landscape"
            android:theme="@style/FullscreenTheme">
        </activity>

        <activity
            android:name="de.badgersburrow.fragenrondell.Activity_Settings"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/settings"
            android:screenOrientation="landscape"
            android:theme="@style/FullscreenTheme">
        </activity>

        <activity
            android:name="de.badgersburrow.fragenrondell.Activity_Info"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/info"
            android:screenOrientation="landscape"
            android:theme="@style/FullscreenTheme">
        </activity>
    </application>

</manifest>
